<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<property name="connection.datasource">java:/comp/env/jdbc/DesputyDB</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.hbm2ddl.auto">create</property>

		<mapping class="br.com.ifgoiano.desputy.usuario.Usuario"/>
		<mapping class="br.com.ifgoiano.desputy.deputado.Deputado"/>

	</session-factory>
</hibernate-configuration>
